.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
_freeze
_manuscript
index-preview.html
index.bbl-SAVE-ERROR
index.bcf-SAVE-ERROR
index.embed.ipynb
index.fdb_latexmk
index.html
index.xdv
references.bib
renv.lock
index.out.ipynb
